{% extends "layout.html" %}
{% block content %}
	<h1>Dashboard</h1>
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th>Alias</th>
				<th>Brand</th>
				<th>Model</th>
				<th>Retailer</th>
				<th>Stock</th>
				<th>Price</th>
				<th>Last Checked</th>
			</tr>
		</thead>
		{% for product in products %}
			<tr>
				<td>{{ product.alias }}</td>
				<td>{{ product.brand }}</td>
				<td>{{ product.model }}</td>
				<td>{{ product.retailer }}</td>
				<td>{{ product.stock }}</td>
				<td>{{ "${:,.2f}".format(product.price) }}</td>
				<td>{{ product.checked_ts.strftime("%Y-%m-%d %H:%M:%S") }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}