{% extends "layout.html" %}
{% block content %}
<div class="container mt-5 text-center">
	<div class ="row justify-content-center" >
		<div class = "col-md-5 col-lg-4">
			<div class="content-section">
				<form novalidate method="POST" action="">
					{{ form.hidden_tag() }}     <!--CSRF Token-->
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">Sign In</legend>
						<!--Username-->
						<div class="form-group">
							{% if form.username.errors %}
								{{ form.username(class="form-control is-invalid", placeholder="Username") }}
								<div class="invalid-feedback">
									{% for error in form.username.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.username(class="form-control", placeholder="Username") }}
							{% endif %}
						</div>
						<!--Password-->
						<div class="form-group">
							{% if form.password.errors %}
								{{ form.password(class="form-control is-invalid", placeholder="Password") }}
								<div class="invalid-feedback">
									{% for error in form.password.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.password(class="form-control", placeholder="Password") }}
							{% endif %}
						</div>
						<!--Remember Me-->
						<div class="form-check text-left">
							{{ form.remember(class="form-check-input") }}
							{{ form.remember.label(class="form-check-label") }}
						</div>
					</fieldset>
					<!--Login-->
					<div class="form-group">
						{{ form.submit(class="btn btn-primary btn-block") }}
					</div>
					<!--Forgot Password-->
					<small class="text-muted ml-2">
						<a href="#"> Forgot Password?</a>
					</small>
				</form>
			</div>
			<!--Sign Up-->
			<div class = "border-top pt-3">
				<small class="text-muted">
					Need An Account? <a class="ml-2" href="{{ url_for('register') }}"> Sign Up!</a>
				</small>
			</div>
		</div>
	</div>
</div>
{% endblock content %}